// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyDY7tiIMygGfcTPK3WmuF2Uq00dmtFs2BU",
  authDomain: "nes-canvas.firebaseapp.com",
  projectId: "nes-canvas",
  storageBucket: "nes-canvas.firebasestorage.app",
  messagingSenderId: "536624666953",
  appId: "1:536624666953:web:10e80824307c8b0d942298",
  measurementId: "G-516FHRP73K"
};
